@import "reset.css";

.accTitle {
  cursor: pointer;
  background-color: rgb(219, 219, 219);
}

.accText {
  display: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  /* display: block; */
}

/* textEl.style.lineHeight = 1.5;
    textEl.style.letterSpacing = '2px';
    textEl.style.fontStyle = 'italic';
    sectionTitleEl.style.fontSize = '4rem';
    articleEl.style.backgroundColor = 'coral'; */

.specialArt {
  background-color: coral;
}
.specialArt .text {
  line-height: 1.5;
  letter-spacing: 2px;
  font-style: italic;
}
.specialArt .author {
  font-size: 4rem;
}
